* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#showcase {
  height: 400px;
  background: url(./images/image-hero-desktop.jpg) no-repeat center/cover;
}

header {
  padding: 30px 80px;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
}

.links li {
  list-style: none;
  padding-right: 30px;
}

.links a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

main {
  background: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  top: -100px;
}

.mastercraft {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

main > section {
  padding: 35px;
  margin-bottom: 30px;
  box-shadow: 4px 4px 20px rgb(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.intro h1,
.intro p {
  text-align: center;
}

.intro h1 {
  padding-top: 15px;
}

.intro p {
  padding: 20px;
}

.btns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.intro button {
  height: 56px;
  width: 170px;
  border-radius: 100px;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.backers {
  justify-content: center;
  background: hsl(176, 82%, 30%);
  color: hsl(0, 0%, 100%);
}

.backers img {
  width: 100%;
}

.counts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pro_03,
.pro_02 {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 30px;
}

.progress-bar {
  width: 100%;
  max-width: 680px;
  background: hsl(176, 50%, 47%);
  height: 10px;
  margin-top: 30px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.progress-bar::after {
  width: 100%;
  background: hsl(0, 0%, 48%);
  position: absolute;
  right: 20%;
  top: 0;
}
